<!DOCTYPE html> 
<html>
<head> 
<title>WifiScanMap | wifis</title> 
<script src="/js/components/jquery/dist/jquery.js"></script>
<script src="/js/components/angular/angular.js"></script>
<script src="/js/components/Chart.js/Chart.js"></script>
<script src="/js/components/angular-chart.js/dist/angular-chart.js"></script>
<script src="/js/components/ol3/ol.js"></script>
<script src="/js/components/jquery-ui/jquery-ui.js"></script>
<script src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index/controller.js"></script>
<link rel="stylesheet" type="text/css" href="/js/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/js/components/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/index.css" />
</head> 
<body ng-app="ScanMap"> 
	<div ng-controller="indexController">
 
 
 
 <div>
 <div id="loading-container" style="display:none;" >
  <div id="loading" ><img src="/img/loading.gif" alt="loading" /></div>
 </div>
 
      <div id="left-pannel">
        <ul id="wifis-list"></ul>
      </div>
      <div id="pannel">
      <div id="control">
<!--         <input type="text" name="host" ng-model="host" > <button ng-click="changeHost()" >Change</button> -->
      <div ng-class="{'label label-success':link_status, 'label label-danger':!link_status}" >Service</div>
      <div ng-class="{'label label-success':status.position.gps.fix, 'label label-danger':!status.position.gps.fix}" >Gps {{status.position.gps.accuracy}}m</div>
          <div ng-class="{'label label-success':status.position.wifi.fix, 'label label-danger':!status.position.wifi.fix}" >Wifi {{status.position.wifi.accuracy}}m</div><br/>
      <button ng-click="center()" >Center</button> <br/>
      wifis: {{status.stat.wifis.all}}, {{status.stat.wifis.open}} open, {{status.stat.probes.all}} probes<br/>
      
      <a href="/offline.html">Offline</a>
      <a href="/probes.html">Probes</a>
      <a href="/stats.html">Stats</a>
      <a href="/station.html">Station</a>
      <a href="/devices.html">Devices</a>
      
      <input type="text" ng-model="search_terms" /><button ng-click="search()" >Search</button><br/>
      <label>Wifis</label>
      <input type="checkbox" ng-model="display_wifis" ng-change="update_wifis()" checked /><br/>
      <label>Probes</label>
      <input type="checkbox" ng-model="display_probes" ng-change="update_probes()" /><br/>
      <label>Stations</label>
      <input type="checkbox" ng-model="display_stations" ng-change="update_stations()" /><br/>
      <label>BT Stations</label>
      <input type="checkbox" ng-model="display_bt_stations" ng-change="update_bt_stations()" /><br/>
      
      </div>
        <hr/>
        <img src="/img/wifi-ap.png" alt="wifi-logo" /> {{status.updates_count.wifis}}
        <br/>
        <ul id="current-wifis">
          <li ng-repeat="wifi in status.current.wifis">
          <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70"
          aria-valuemin="0" aria-valuemax="100" style="width:{{100+wifi.signal}}%">
            <a href="/#?wifis=true&terms={{wifi.essid}}" >{{wifi.essid}}</a>
          </div>
        </div>
          </li>
        </ul>
        <hr/>
        <img src="/img/probe.png" alt="probes-logo" /> {{status.updates_count.probes}}
        <ul id="current-probes">
          <li ng-repeat="probe in status.current.probes">
          
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:{{100+probe.signal}}%">
                <a href="/probes.html#?essid={{probe.essid}}">{{probe.essid}}<a>
              </div>
            </div>
          </li>
        </ul>
        <hr/>
        <img src="/img/station.png" alt="stations-logo" /> {{status.updates_count.stations}}
        <ul id="current-stations">
          <li ng-repeat="station in status.current.stations">
          <div class="device-type" ng-class="{'android':station.manufacturer == 'Google', 'apple':station.manufacturer == 'Apple', 'microsoft':station.manufacturer == 'Microsof', 'mobile':station.mobile, 'no-mobile':!station.mobile}" ></div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:{{100+station.signal}}%">
                <a href="/station.html#?bssid={{station.bssid}}" >{{station.bssid}}</a>
              </div>
            </div>
          </li>
        </ul>
        <img src="/img/bluetooth.png" alt="bluetooth-stations-logo" />  {{status.updates_count.bt_stations}}
        <ul id="current-bluetooth-stations">
          <li ng-repeat="station in status.current.bluetooth">
            <div class="device-type" ng-class="station.class_description" ></div>
            <div class="manufacturer">&nbsp;{{station.manufacturer}}</div>
                <a href="/station.html#?bssid={{station.bssid}}" >{{station.bssid}}</a>
          </li>
        </ul>
      </div>
      <div id="map"></div>

</div>
</body> 
</html>
