<!DOCTYPE html> 
<html>
<head> 
<title>WifiScanMap | offline</title>  
<script type="text/javascript" src="/js/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/components/angular/angular.js"></script>
<script type="text/javascript" src="/js/components/Chart.js/Chart.js"></script>
<script type="text/javascript" src="/js/components/angular-chart.js/dist/angular-chart.js"></script>
<script type="text/javascript" src="/js/components/ol3/ol.js"></script>
<script type="text/javascript" src="/js/components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/offline/controller.js"></script>
<link rel="stylesheet" type="text/css" href="/js/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/offline.css" />
</head> 
<body ng-app="ScanMap"> 
	<div ng-controller="offlineController">
          <div ng-class="{'label label-success':link_status, 'label label-danger':!link_status}" >Service</div>
          
          <div ng-class="{'label label-success':status.position.gps.fix, 'label label-danger':!status.position.gps.fix}" >Gps {{status.position.gps.accuracy}}m</div>
          <div ng-class="{'label label-success':status.position.wifi.fix, 'label label-danger':!status.position.wifi.fix}" >Wifi {{status.position.wifi.accuracy}}m</div><br/>
          version {{status.version}}<br/>
          <button ng-click="play_pause()" >{{button_text}}</button><br/>
          
          wifis: {{status.stat.wifis.all}}, {{status.stat.wifis.open}} open, {{status.stat.probes.all}} probes
        <div>
          <div id="currentWifisContainer" >
            <img src="/img/wifi-ap.png" alt="wifi-logo" /> {{status.updates_count.wifis}}
            <hr/>
            <ul id="current-wifis">
              <li ng-repeat="wifi in status.current.wifis">
              <div class="manufacturer">&nbsp;{{wifi.manufacturer}}</div>
              
              <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" style="width:{{100+wifi.signal}}%">
                <a href="/#?wifis=true&terms={{wifi.essid}}" >{{wifi.essid}}</a>
              </div>
            </div>
            <hr/>
              </li>
            </ul>
            
            
            <ul>
              <li ng-repeat="(esp,esp_value) in status.esp8266">
                {{esp}}
                <ul>
                  <li ng-repeat="wifi in esp_value.current.wifis">
                    <div class="manufacturer">&nbsp;{{wifi.manufacturer}}</div>
                    
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:{{100+wifi.signal}}%">
                      <a href="/#?wifis=true&terms={{wifi.essid}}" >{{wifi.essid}}</a>
                    </div>
                    </div>
                    <hr/>
                  </li>
                </ul>
            </ul>
            
            
          </div>
          <div id="currentProbesContainer" >
          <img src="/img/probe.png" alt="probes-logo" /> {{status.updates_count.probes}}
          <hr/>
          <ul id="current-probes">
            <li ng-repeat="probe in status.current.probes" ng-class="get_station_class(probe.bssid)" ng-mouseenter="select(get_station_class(probe.bssid))" ng-mouseleave="unselect(get_station_class(probe.bssid))">
              <div class="manufacturer">
                <div ng-if="probe.ap != 0" >
                  <a href="/#?wifis=true&terms={{probe.essid}}" >#{{probe.ap.length}} <img src="/img/pin.png" /> </a>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:{{100+probe.signal}}%">
                  <a href="/probes.html#?essid={{probe.essid}}">{{probe.essid}}</a>
                </div>
              </div>
              <hr/>
            </li>
          </ul>
            <ul>
              <li ng-repeat="(esp,esp_value) in status.esp8266">
                {{esp}}
                <ul>
                  <li ng-repeat="probe in esp_value.current.probes" ng-class="get_station_class(probe.bssid)" ng-mouseenter="select(get_station_class(probe.bssid))" ng-mouseleave="unselect(get_station_class(probe.bssid))">
              <div class="manufacturer">
                <div ng-if="probe.ap != 0" >
                  <a href="/#?wifis=true&terms={{probe.essid}}" >#{{probe.ap}} <img src="/img/pin.png" /> </a>
                </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:{{100+probe.signal}}%">
                  <a href="/probes.html#?essid={{probe.essid}}">{{probe.essid}}</a>
                </div>
              </div>
              <hr/>
            </li>
            </ul>   
          </ul>
          
          </div>
          <div id="currentStationsContainer" >
          <img src="/img/station.png" alt="stations-logo" /> {{status.updates_count.stations}}
          <hr/>
          <ul id="current-stations">
            <li ng-repeat="station in status.current.stations" ng-class="get_station_class(station.bssid)" ng-mouseenter="select(get_station_class(station.bssid))" ng-mouseleave="unselect(get_station_class(station.bssid))">
              <div class="manufacturer">&nbsp;{{station.manufacturer}}</div>
              <div class="device-type" ng-class="{'android':station.manufacturer == 'Google', 'apple':station.manufacturer == 'Apple', 'microsoft':station.manufacturer == 'Microsof', 'mobile':station.mobile, 'no-mobile':!station.mobile}" ></div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:{{100+station.signal}}%">
                  <a href="/station.html#?bssid={{station.bssid}}" >{{station.bssid}}</a>
                </div>
              </div>
              <div>
                <canvas id="station-view-days" class="chart chart-bar"
                  chart-data="data_stations[$index]" chart-labels="labels_stations[$index]"  animation="false" >
                </canvas>
              </div>
              <ul>
                <li ng-repeat="dns in station.users_dns" ><a href="http://{{dns.host}}">{{dns.host}}</a></li>
              </ul>
              <hr/>
            </li>
          </ul>
          
          <ul>
              <li ng-repeat="(esp,esp_value) in status.esp8266">
                {{esp}}
                <ul>
                  <li ng-repeat="station in esp_value.current.stations" ng-class="get_station_class(station.bssid)" ng-mouseenter="select(get_station_class(station.bssid))" ng-mouseleave="unselect(get_station_class(station.bssid))">
                <div class="manufacturer">&nbsp;{{station.manufacturer}}</div>
                <div class="device-type" ng-class="{'android':station.manufacturer == 'Google', 'apple':station.manufacturer == 'Apple', 'microsoft':station.manufacturer == 'Microsof', 'mobile':station.mobile, 'no-mobile':!station.mobile}" ></div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                  aria-valuemin="0" aria-valuemax="100" style="width:{{100+station.signal}}%">
                    <a href="/station.html#?bssid={{station.bssid}}" >{{station.bssid}}</a>
                  </div>
                </div>
                <div>
                  <canvas id="station-view-days" class="chart chart-bar"
                    chart-data="data_stations[$index]" chart-labels="labels_stations[$index]"  animation="false" >
                  </canvas>
                </div>
                <hr/>
              </li>
            </ul>   
          </ul>
          
        </div>
        
        
        <div id="currentStationsContainer" >
          <img src="/img/bluetooth.png" alt="bluetooth-stations-logo" /> {{status.updates_count.bt_stations}}
          <hr/>
          <ul id="current-bluetooth-stations">
            <li ng-repeat="station in status.current.bluetooth">
            <ul>
              <li>{{station.manufacturer}}</li>
              <li>
                <div class="device-type" ng-class="station.class_description" ></div>
                {{station.class_description}}
              </li>
              <li>{{station.name}}&nbsp;&nbsp;<a href="/station.html#?bssid={{station.bssid}}" >{{station.bssid}}</a></li>
            </ul>
                <canvas id="bt-station-view-days" class="chart chart-bar"
                  chart-data="data_bt_stations[$index]" chart-labels="labels_bt_stations[$index]"  animation="false" >
                </canvas>
                <hr/>
            </li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>
