<!DOCTYPE html> 
<html>
<head> 
<title>WifiScanMap | probes</title> 
<script type="text/javascript" src="/js/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/components/angular/angular.js"></script>
<script type="text/javascript" src="/js/components/Chart.js/Chart.js"></script>
<script type="text/javascript" src="/js/components/angular-chart.js/dist/angular-chart.js"></script>
<script type="text/javascript" src="/js/components/ol3/ol.js"></script>
<script type="text/javascript" src="/js/components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/probes/controller.js"></script>
<link rel="stylesheet" href="/js/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/probes.css" />
</head> 
<body ng-app="ScanMap">
  <div ng-controller="probesController">
    <h1>Probes</h1>
    
      <div id="loading-container" style="display:none;" >
        <div id="loading" ><img src="/img/loading.gif" alt="loading" /></div>
      </div>
    
    <table ng-if="terms == ''">
      <tr>
	<th class="count">Request</th>
	<th>Essid</th>
	<th>Available</th>
      </tr>
      <tr ng-repeat="probe in probes">
	<td class="count" ><a href="/probes.html#?essid={{probe.essid}}" >{{probe.count}}</a></td>
	<td>{{probe.essid}}</td>
	<td><a href="/#?wifis=true&terms={{probe.essid}}" >{{probe.ap}}</a></td>
      </tr>
    </table>
    <table ng-if="terms != ''">
    <tr>
      <th>bssid</th>
      <th>manufacturer</th>
      <th>essid</th>
    </tr>
    <tr ng-repeat="probe in probes">
      <td><a href="/station.html#?bssid={{probe.bssid}}" >{{probe.bssid}}</a></td>
      <td>{{probe.manufacturer}}</td>
      <td>{{probe.essid}}</td>
    </tr>
    </table>
  </div>
</body> 
</html>
