<!DOCTYPE html> 
<html>
<head> 
<title>WifiScanMap | stats</title>  
<script type="text/javascript" src="/js/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/js/components/angular/angular.js"></script>
<script type="text/javascript" src="/js/components/Chart.js/Chart.js"></script>
<script type="text/javascript" src="/js/components/angular-chart.js/dist/angular-chart.js"></script>
<script type="text/javascript" src="/js/components/ol3/ol.js"></script>
<script type="text/javascript" src="/js/components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/stats/controller.js"></script>
<link rel="stylesheet" href="/js/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/stats.css" />
</head> 
<body ng-app="ScanMap"> 
	<div ng-controller="statsController">
          <div ng-class="{'label label-success':link_status, 'label label-danger':!link_status}" >Service</div><br/>
          wifis: {{stats.wifis.all}}<br/>
          {{stats.wifis.open}} open<br/>
          {{stats.probes.all}} probes<br/>
          {{stats.stations.all}} stations<br/>
          {{stats.bt_stations.all}} bt_stations<br/>
          
          <h2>Wi-Fis</h2>
          <h3>Top essid</h3>
          <div class="chart-container" >
            <canvas id="essid-chart" class="chart chart-bar"
              chart-data="essid_data" chart-labels="essid_labels">
            </canvas>
          </div>
          <ul>
            <li ng-repeat="wifi in stats.wifis.top" >{{wifi[1]}} {{wifi[0]}}</li>
          </ul>
          <h3>Channels</h3>
          <div class="chart-container" >
            <canvas id="channels-chart" class="chart chart-bar"
                chart-data="channels_data" chart-labels="channels_labels" responsive="true">
            </canvas>
          </div>
          <h3>Top manufacturer</h3>
          <ul>
            <li ng-repeat="wifi in stats.wifis.manufacturer" >{{wifi.count}} {{wifi.manufacturer}}</li>
          </ul>
          
          <h2>Top Probes</h2>
          <div class="chart-container" >
            <canvas id="probes-chart" class="chart chart-bar"
              chart-data="probes_data" chart-labels="probes_labels">
            </canvas>
          </div>
          <ul>
            <li ng-repeat="probe in stats.probes.top" >{{probe[1]}} {{probe[0]}}</li>
          </ul>
          
          <h3>Bluetooth class</h3>
          <div class="chart-container" >
            <canvas id="bt_class-chart" class="chart chart-bar"
                chart-data="bt_class_data" chart-labels="bt_class_labels" responsive="true">
            </canvas>
          </div>
    </div>
</body>
</html>
